<form [formGroup]="registerForm" class="default-form" (submit)="register()">
    <div class="form-item">
      <mat-form-field appearance="fill">
        <mat-label>Имя</mat-label>
        <input formControlName="firstName" matInput>
      </mat-form-field>
    </div>
    <div class="form-item">
      <mat-form-field appearance="fill">
        <mat-label>Фамилия</mat-label>
        <input formControlName="lastName" matInput>
      </mat-form-field>
    </div>
    <div class="form-item">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="pat@example.com" required>
        <mat-error *ngIf="registerForm.get('email')!.errors?.['required']">
          Нужна ваша почта
        </mat-error>
        <mat-error *ngIf="registerForm.get('email')!.errors?.['email']">
          Не похоже на почту
        </mat-error>
      </mat-form-field>
    </div>    
    <div class="form-item">
      <mat-form-field appearance="fill">
        <mat-label>Пароль</mat-label>
        <input formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.get('password')!.errors?.['required']">
          Нужен ваш пароль
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-item">
      <mat-form-field appearance="fill">
        <mat-label>Подтвердите пароль</mat-label>
        <input formControlName="confirmPassword" matInput [type]="hidePassword ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.get('confirmPassword')!.errors?.['required']">
          Подтвердите пожалуйста пароль
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-item">
      <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">Зарегистрироваться</button>
    </div>
</form>